
.tete {
    background-image: url(../../img/BG.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size:1200px ;
    width: 1200px;
    max-width: 100%;
    height: 150px;
    border-radius: 17px;
    text-align: center;
    padding: 50px;
    font-size: 23px;
    letter-spacing: 2px;
     margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
    position: relative;
}
.hcont{
    background: rgba(0,0,0,0.3) 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 17px;
}
h1{
    color: whitesmoke;
    z-index: 1; 
   
}
//.map pour apller le json et objectif fit cover pour le css