.errb {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.err h1{
    color: rgb(254,96,97);
    font-size: 200px;
    letter-spacing: 15px;
}

.err h2 {
    padding: 30px;
    color: rgb(254,96,97);
}